---
layout: default
title: Home
---



<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4><b>Bio</b></h4>
  <p>
      <br>I am an Applied Scientist at Amazon Search/A9 working on building large language models for shopping. I obtained my Ph.D. degree in Computer Science at the Hong Kong University of Science and Technology in July 2023 under the supervision of <a href="https://www.cse.ust.hk/~yqsong/">Prof. Yangqiu Song</a>.
      Before that, I received my B.E. degree in Computer Science at Sun Yat-sen University in June 2018, supervised by <a href="http://www.rongpan.net">Prof. Rong Pan</a>.
  </p>
  <p>
    My research interests lie in the intersection of machine learning and natural language processing, with a focus on inference, reasoning, as well as knowledge.
    My goal is to build intelligent systems that can understand and reason over user behaviors and natural languages with the help of structural knowledge and unstructural commonsense.
  </p>
</div>

<!--- ========== PROJECTS ==========
<h4><b>Recent Research Areas</b></h4>

<div class="docs-section" id="projects">
  {% assign selected_projects = site.data.projects.projects | where: "selected", "y" %}
    {% for project in selected_projects %}
      {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}
          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <center>
                  <b>{{ project.title }}</b> <br/>
                  </center>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
</div>
--->




<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4><b>Publications</b></h4>

  <p>Most recent publications on <a href="https://scholar.google.com.hk/citations?user=WvC4upQAAAAJ&hl=en" target="_blank">Google Scholar</a>.</p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected Papers</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>    
    <li><div class="button" data-ref="#papers-ML">Machine Learning</div></li>
    <li><div class="button" data-ref="#papers-NLP">Natural Language Processing</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.bibtex %}
              <a class="button" href="{{ paper.bibtex | prepend: site.baseurl }}" target="_blank">Bib</a>
            {% endif %}
            {% if paper.arXiv %}
              <a class="button" href="{{ paper.arXiv }}" target="_blank">ArXiv</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p>
            <i>{{ paper.venue }}</i>
            {% if paper.award %}
              (<b>{{ paper.award }}</b>)
            {% endif %}
          </p>
        </div>
      {% endfor %}
    </div>

    <!-- All PAPERS -->
    <div class="tab-pane" id="papers-all">
      {% assign papers = site.data.publications.papers %}
      {% for paper in papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.bibtex %}
              <a class="button" href="{{ paper.bibtex | prepend: site.baseurl }}" target="_blank">Bib</a>
            {% endif %}
            {% if paper.arXiv %}
              <a class="button" href="{{ paper.arXiv }}" target="_blank">ArXiv</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p>
            <i>{{ paper.venue }}</i>
            {% if paper.award %}
              (<b>{{ paper.award }}</b>)
            {% endif %}
          </p>
        </div>
      {% endfor %}
    </div>
    

    <!-- ML PAPERS -->
    <div class="tab-pane" id="papers-ML">
      {% assign ml_papers = site.data.publications.papers | where: "ml", "y" %}
      {% for paper in ml_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.bibtex %}
              <a class="button" href="{{ paper.bibtex | prepend: site.baseurl }}" target="_blank">Bib</a>
            {% endif %}
            {% if paper.arXiv %}
              <a class="button" href="{{ paper.arXiv }}" target="_blank">ArXiv</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p>
            <i>{{ paper.venue }}</i>
            {% if paper.award %}
              (<b>{{ paper.award }}</b>)
            {% endif %}
          </p>
        </div>
      {% endfor %}
    </div>

    <!-- NLP PAPERS -->
    <div class="tab-pane" id="papers-NLP">
      {% assign nlp_papers = site.data.publications.papers | where: "nlp", "y" %}
      {% for paper in nlp_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.bibtex %}
              <a class="button" href="{{ paper.bibtex | prepend: site.baseurl }}" target="_blank">Bib</a>
            {% endif %}
            {% if paper.arXiv %}
              <a class="button" href="{{ paper.arXiv }}" target="_blank">ArXiv</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p>
            <i>{{ paper.venue }}</i>
            {% if paper.award %}
              (<b>{{ paper.award }}</b>)
            {% endif %}
          </p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>


<!-- ========== AWARD ========== -->
<div class="docs-section" id="awards">
  <h4><b>Awards</b></h4>
  <div class="tab-content">
    {% assign all_awards = site.data.awards.awards %}
    {% for award in all_awards %}
    <div class="award">
      <p class="title"><b>{{ award.title }}</b> ({{ award.agent }}, {{ award.time }})</p>
    </div>
    {% endfor %}
  </div>
</div>


<!-- ========== EXPERIENCE ========== -->
<div class="docs-section" id="experience">
  <h4><b>Working Experience</b></h4>
  <div class="tab-content">
    {% assign all_experience = site.data.experience.experience %}
    {% for experience in all_experience %}
    <div class="experience">
      <p class="title"><b>{{ experience.title }}</b> at {{ experience.place }} ({{ experience.time }})</p>
      <p>{{experience.topic}}, <i>{{experience.subtitle}}</i></p>
    </div>
    {% endfor %}
  </div>
</div>


<!-- ========== TEACHING ========== -->
<div class="docs-section" id="teaching">
  <h4><b>Teaching Experience</b></h4>
  <div class="tab-content">
    {% assign all_teaching = site.data.teaching.teaching %}
    {% for teaching in all_teaching %}
    <div class="teaching">
      <p class="title"><b>{{ teaching.title }} ({{ teaching.category }})</b> at {{ teaching.place }} ({{ teaching.time }})</p>
      <p><i>{{teaching.name}}</i></p>
    </div>
    {% endfor %}
  </div>
</div>

<!-- ========== TALKS ========== -->
<!-- <div class="docs-section" id="talks">
  <h4><b>Talks and slides</b></h4>
  {% assign current_talks = site.data.talks.talks | where: "category", "current" %}
  {% for talk in current_talks %}
  <div class="talk">
    <p class="title"><b>{{ talk.name }}</b> ({{ talk.time }}): <a href={{talk.link}} target="_blank">{{ talk.title }}</a></p>
  </div>
  {% endfor %}
</div> -->


<!--- ========== PEOPLE ========== -->
<div class="docs-section" id="people">
  <h4><b>Advisees</b></h4>


  <ul class="tab-nav">
    <li><div class="button active" data-ref="#all">All</div></li>
    <li><div class="button" data-ref="#current">Current</div></li>
    <li><div class="button" data-ref="#former">Former</div></li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="all">
      {% assign all_people = site.data.students.students%}
      {% for person in all_people %}
        <div class="people">
          <p class="title"><b>{{ person.name }}</b> ({{ person.time }})</p>
          <p><i>{{ person.place }}</i>
          {% if person.current %}
          , now <i>{{ person.current }}</i>
          </p>
          {% endif %}
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="current">
      {% assign current_people = site.data.students.students | where: "category", "current" %}
      {% for person in current_people %}
        <div class="people">
          <p class="title"><b>{{ person.name }}</b> ({{ person.time }})</p>
          <p><i>{{ person.place }}</i>
          {% if person.current %}
          , now <i>{{ person.current }}</i>
          </p>
          {% endif %}
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="former">
      {% assign former_people = site.data.students.students | where: "category", "former" %}
      {% for person in former_people %}
        <div class="people">
          <p class="title"><b>{{ person.name }}</b> ({{ person.time }})</p>
          <p><i>{{ person.place }}</i>
          {% if person.current %}
          , now <i>{{ person.current }}</i>
          </p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    
  </div>
</div>





<!--- ========== RESUME ==========
<div class="docs-section" id="resume">
  <h4>Resume</h4>

  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
--->


<div class="docs-section" id="ack">
  <h4>Acknowledgement</h4>
  <p>
    This website uses the website design and template by <a href="https://github.com/msaveski/www_personal">Martin Saveski</a>
  </p>
</div>
