<p>Pioneered graph learning for natural language understanding and parsing – implemented the most effective
  solution to mine important user intent patterns and parse millions of action-item-intention triples to construct
  commonsense knowledge graphs [ACL’2023] and built the commonsense knowledge graph at Amazon (COSMO)
  to improve ranking relevance and recommendation quality in Amazon Search and Navigation [SIGMOD’2024].</p>
<p>Architected session-based recommendation solutions by integrating graph learning – developed the state-of-the-art
  solution using pattern mining algorithms and memory augmentation to significantly enhance the item-item
  collaborative filtering graph [NeurIPS’2023].</p>
